datav:
    image: busybox
    volumes:
        - /virtuoso_db/

datacrshared:
    image: busybox
    volumes: 
        - /var/local/cr3/files:/var/local/cr3/files:z
        - /var/backups/sql:/var/backups/sql:z
        - /var/tmp:/var/tmp:z

virtuoso:
    image: eeacms/virtuoso:dev
    ports:
        - 8890:8890
        - 1111:1111
        - 1112:1112
    volumes_from:
        - datav
        - datacrshared
    env_file:
        - virtuoso.env
