shared_volumes:
    image: busybox
    volumes:
        - /virtuoso_db/
        - ./virtuoso.ini:/usr/local/virtuoso-opensource/var/lib/virtuoso/db/virtuoso.ini:z
        - /shared_folder/local/cr3/files:z
        - /shared_folder/backups/sql:z
        - /shared_folder/tmp:z
    command: ["chown", "-v", "-R", "500:500", "/virtuoso_db"]

#datacrshared:
#    image: busybox
#    volumes: 
#        - /var/local/cr3/files:/var/local/cr3/files:z
#        - /var/backups/sql:/var/backups/sql:z
#        - /var/tmp:/var/tmp:z

virtuoso:
    restart: always
    image: eeacms/virtuoso:dev
    ports:
        - 8890:8890
        - 1111:1111
        - 1112:1112
    volumes_from:
        - shared_volumes
